input{
    padding:10px;
    margin:10px;
    margin-bottom: 20px;
}
form{
    display:flex;
    flex-direction: column;
    margin:20px;
    color:white;
    max-width: 70%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 0;
}
label{
    align-self: flex-start;
}
.btn{
    background-color:rgb(65, 255, 192);
    color:black;
    font-weight: 700;
    border-radius: 10px;
    outline:none;
}
.name-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin:0;
    padding:0;
}
.name-cont>input{
    width:50%;
}