*{
    padding:5px;
}
td{
    border: 1px solid rgb(181, 251, 255);
}
th{
    background-color: rgb(181, 251, 255);
    color:black;
    min-width: 150px;
}
th.desc {
    border-bottom: 5px solid rgb(136, 136, 255);
  }
  
  th.asc {
    border-top: 5px solid orange;
  }